@inject IViewLocalizer L
@{
	ViewData["Title"] = @L["Page_Title"];
}
@model Chatty.Blogs.Web.ViewModels.HomeViewModel

<!-- section main content -->
<section class="main-content">
	<div class="container-xl">
		<div class="row gy-4">

			<div class="col-lg-8">

				<!-- featured post large -->
				@if(Model.TopArticle !=null){
					<div class="post featured-post-lg">
						<div class="details clearfix">
							<h2 class="post-title"><a href="@Url.Action("Detail","Blog", new { id = Model.TopArticle.RowId })">@Model.TopArticle.Title</a></h2>
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item"><a href="#">@L["Page_IsTop"]</a></li>
								<li class="list-inline-item created-date" data-time="@Model.TopArticle?.CreatedDate"></li>
							</ul>
						</div>
						<a href="@Url.Action("Detail","Blog", new { id = Model.TopArticle?.RowId })">
							<div class="thumb rounded">
								<div class="inner data-bg-image" data-bg-image="@Url.Content(Model.TopArticle?.CoverUrl)"></div>
							</div>
						</a>
					</div>

					<div class="spacer" data-height="50"></div>
				}
				
				<!-- section header -->
				<div class="section-header">
					<h3 class="section-title">@L["Page_Home_Block_Recommand"]</h3>
					<img src="~/images/wave.svg" class="wave" alt="wave" />
				</div>

				<div class="padding-30 rounded bordered">

					<div class="row">


						@foreach (var item in Model.RecommendList)
						{
							<div class="col-md-12 col-sm-6">
								<!-- post -->
								<div class="post post-list clearfix">
									<div class="thumb rounded">
										<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
											<div class="inner">
												<img src="@Url.Content(item.CoverUrl)" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details">
										<h5 class="post-title"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h5>
										<p class="excerpt mb-0">@item.Quote</p>
										<div class="post-bottom clearfix d-flex align-items-center">
											<ul class="meta list-inline mb-3">
												<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							
						}
						
					</div>
					<!-- load more button -->
					<div class="text-center">
						<a href="@Url.Action("Block","Home",new { name="Recommand"})" class="btn btn-simple">@L["Page_Action_Loadmore"]</a>
					</div>

				</div>


				<div class="spacer" data-height="50"></div>

				<!-- horizontal ads -->
				@* <div class="ads-horizontal text-md-center">
					<span class="ads-title">- Sponsored Ad -</span>
					<a href="#">
						<img src="~/images/ads/ad-750.png" alt="Advertisement" />
					</a>
				</div> *@

				<div class="spacer" data-height="50"></div>

				<!-- section header -->
				<div class="section-header">
					<h3 class="section-title">@L["Page_Home_Block_Trending"]</h3>
					<img src="~/images/wave.svg" class="wave" alt="wave" />
				</div>

				<div class="padding-30 rounded bordered">
					<div class="row gy-5">
						@for(var i = 0; i < Model.TrendingList.Count; i++)
						{
							var item = Model.TrendingList[i];

							if (i < 2)
							{
								<div class="col-sm-6">
									<!-- post large -->
									<div class="post">
										<div class="thumb rounded">
											<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
												<div class="inner">
													<img src="@Url.Content(item.CoverUrl)" alt="post-title" />
												</div>
											</a>
										</div>
										<h5 class="post-title mb-3 mt-3"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h5>
										<p class="excerpt mb-0">@item.Quote</p>
										<ul class="meta list-inline mt-4 mb-0">
											<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
										</ul>
									</div>
								</div>
							}
							else
							{
								<div class="col-sm-6">
									<!-- post -->
									<div class="post post-list-sm square before-seperator">
										<div class="thumb rounded">
											<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
												<div class="inner">
													<img src="@Url.Content(item.CoverUrl)" alt="post-title" />
												</div>
											</a>
										</div>
										<div class="details clearfix">
											<h6 class="post-title my-0"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h6>
											<ul class="meta list-inline mt-1 mb-0">
												<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
											</ul>
										</div>
									</div>
								</div>
							}
						}
						
						
					</div>
				</div>

				<div class="spacer" data-height="50"></div>

				<!-- section header -->
				<div class="section-header">
					<h3 class="section-title">@L["Page_Home_Block_Inspiration"]</h3>
					<img src="~/images/wave.svg" class="wave" alt="wave" />
					<div class="slick-arrows-top">
						<button type="button" data-role="none" class="carousel-topNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
						<button type="button" data-role="none" class="carousel-topNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
					</div>
				</div>

				<div class="row post-carousel-twoCol post-carousel">
					<!-- post -->
					@foreach(var item in Model.InspirationList)
					{
						<div class="post post-over-content col-md-6">
							<div class="details clearfix">
								<a href="category.html" class="category-badge">Inspiration</a>
								<h4 class="post-title"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h4>
								<ul class="meta list-inline mb-0">
									<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
								</ul>
							</div>
							<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
								<div class="thumb rounded">
									<div class="inner">
										<img src="@Url.Content(item.CoverUrl)" alt="thumb" />
									</div>
								</div>
							</a>
						</div>
					}
				</div>

				<div class="spacer" data-height="50"></div>

			</div>
			<div class="col-lg-4">

				<!-- sidebar -->
				<div class="sidebar">

					<!-- post tabs -->
					<div class="post-tabs rounded bordered widget">
					<!-- tab navs -->
					<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">@L["Page_Home_Tab_Popular"]</button></li>
							<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">@L["Page_Home_Tab_Recent"]</button></li>
					</ul>
					<!-- tab contents -->
					<div class="tab-content" id="postsTabContent">
						<!-- loader -->
						<div class="lds-dual-ring"></div>
						<!-- popular posts -->
						<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
							<!-- post -->
							@foreach(var item in Model.PopularList){
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
											<div class="inner" style="background-image: url('@Url.Content(item.CoverUrl)')">
												
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
										</ul>
									</div>
								</div>
							}
						</div>
						<!-- recent posts -->
						<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
							<!-- post -->
								@foreach(var item in Model.RecentList)
								{

									<div class="post post-list-sm circle">
										<div class="thumb circle">
											<a href="@Url.Action("Detail","Blog", new { id = item.RowId })">
												<div class="inner" style="background-image: url('@Url.Content(item.CoverUrl)')">
													
												</div>
											</a>
										</div>
										<div class="details clearfix">
											<h6 class="post-title my-0"><a href="@Url.Action("Detail","Blog", new { id = item.RowId })">@item.Title</a></h6>
											<ul class="meta list-inline mt-1 mb-0">
												<li class="list-inline-item created-date" data-time="@item.CreatedDate"></li>
											</ul>
										</div>
									</div>
								}
						</div>
					</div>
				</div>

					<!-- widget about -->
					<div class="widget rounded">
						<div class="widget-about data-bg-image text-center" data-bg-image="@Url.Content("~/images/map-bg.png")">
							<img src="~/images/logo.svg" alt="logo" class="mb-4" />
							<p class="mb-4">一款专为科技商务领域打造的现代化博客内容管理系统。它不仅提供了丰富的前端页面展示选项，如首页、博客列表、专栏文章等，还拥有强大的后台管理功能，包括文章编辑、分类管理、AI辅助写作等，旨在帮助个人或企业轻松搭建专业的在线知识分享平台</p>
							<ul class="social-icons list-unstyled list-inline mb-0">
								
							</ul>
						</div>
					</div>

					<!-- widget categories -->
					<div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">所有分类</h3>
							<img src="~/images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<ul class="list">
								@foreach (var item in Model.Categories)
								{
									<li><a href="@Url.Action("Index","Blog",new { cateid=item.RowId})">@item.Name</a><span></span></li>
								}
							</ul>
						</div>

					</div>

					<!-- widget newsletter -->
					<div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Newsletter</h3>
							<img src="~/images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<span class="newsletter-headline text-center mb-3">Join 70,000 subscribers!</span>
							<form>
								<div class="mb-2">
									<input class="form-control w-100 text-center" placeholder="Email address…" type="email">
								</div>
								<button class="btn btn-default btn-full" type="submit">Sign Up</button>
							</form>
							<span class="newsletter-privacy text-center mt-3">By signing up, you agree to our <a href="#">Privacy Policy</a></span>
						</div>
					</div>

					<!-- widget advertisement -->
					@* <div class="widget no-container rounded text-md-center">
						<span class="ads-title">- Sponsored Ad -</span>
						<a href="#" class="widget-ads">
							<img src="~/images/ads/ad-360.png" alt="Advertisement" />
						</a>
					</div> *@

					<!-- widget tags -->
					@* <div class="widget rounded">
						<div class="widget-header text-center">
							<h3 class="widget-title">Tag Clouds</h3>
							<img src="~/images/wave.svg" class="wave" alt="wave" />
						</div>
						<div class="widget-content">
							<a href="#" class="tag">#Trending</a>
							<a href="#" class="tag">#Video</a>
							<a href="#" class="tag">#Featured</a>
							<a href="#" class="tag">#Gallery</a>
							<a href="#" class="tag">#Celebrities</a>
						</div>
					</div> *@

				</div>

			</div>

		</div>

	</div>
</section>

@section Scripts {

	<script src="~/plugins/dayjs/dayjs.min.js"></script>
	<script src="~/plugins/dayjs/plugin/istoday.js"></script>
	<script src="~/plugins/dayjs/plugin/issameorafter.js"></script>

	<script>

		// Dayjs Guide:https://dayjs.fenxianglu.cn/
		dayjs.extend(dayjs_plugin_isToday);
		dayjs.extend(dayjs_plugin_isSameOrAfter);

		function Page() {

			this.init();

		}

		Page.prototype = {
			init: function () {
				var self = this;

				this.renderTime();
				this.bindEvent();
			},
			bindEvent: function () {
				var self = this;

			},
			formatDate: function (time) {
				var eventDate = dayjs(time);

				var formattedDate;

				if (eventDate.isToday()) {
					// 如果是今天，则显示时分
					formattedDate = eventDate.format('HH:mm');
				} else if (eventDate.isSame(dayjs(), 'year')) {
					// 如果是今年内，则显示月日
					formattedDate = eventDate.format('MM月DD日');
				} else {
					// 如果是去年或更早，则显示年月日
					formattedDate = eventDate.format('YYYY-MM-DD');
				}

				return formattedDate;
			},
			renderTime: function () {
				var self = this;

				$('.created-date').each(function () {
					var $this = $(this);
					var time = $this.data('time');

					var formattedDate = self.formatDate(time);

					console.log(time,formattedDate);

					$this.text(formattedDate);
				});
			}
		}

		$(function () {
			new Page(); // entry
		});

	</script>
}